.player {
  display: flex;
  flex-flow: column;
  border: 1px solid;
  padding: 0.5rem;
  gap: 0.5rem;
}

.cards {
  display: flex;
  gap: 0.5rem;
}

.soulsContainer {
  .souls {
    padding: 0.2rem;
    height: 4rem;
  }
}

.playerActions {
  display: flex;
  .numbersContainer {
    display: flex;
  }
}
