{
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.mts"
            ],
            "options": {
                "parser": "typescript"
            }
        }
    ],
    "singleQuote": true,
    "trailingComma": "all"
}