.deck {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;

  & > h3 {
    font-size: 1.5rem;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
}

.coveredCardStack {
  position: relative;

  & > * {
    position: absolute;
  }

  & > *:nth-child(1) {
    transform: translate(-3px, 3px);
  }

  & > *:nth-child(2) {
    transform: translate(-4px, -5px);
  }

  & > *:nth-child(3) {
    transform: translate(6px, 3px);
  }
}

.neighborsDrawned {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}